{% extends "users/layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}

{% if message %}
    <div> <p class="text-light">{{ message }} </p></div>
{% endif %}
 
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">

</form>

<form action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Create Account">
</form>

{% endblock %}

